<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSA Webapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="../static/OSA.png">
  </head>
  <body>

    <div id="upper" class="row">
      <iframe id="graph" src="/graph" height="100%" width="100%"></iframe>
    </div>

    <div id="lower" class="row">
      <div class="row">
        <div id="search" class="col">
          <form method="get" id="cmd">
            <label for="command">Command</label>
            <input type="text" name="command" id="command" placeholder="(e.g: LIM/[1550, 1570])">
            <button id="send" type="submit">Send</button>
          </form>
        </div>
    </div>

      <div class="row">
        <div id="output" class="col">
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">
    document.getElementById("send").addEventListener("click", send);

    function send(e){
      e.preventDefault(e);
          $.ajax({
            type:'GET',
            data:{
              command:$("#command").val()
            },
            url:'/cmd',
            success: function(response) {
              $("#output").html(response);
            }
          });
    }
    </script>
  </body>
</html>
